<html>
	<head>
		<title>My Angular App!</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="app.js"></script>
		<style>
			.actionButton {
				margin: 5px;
			}
		</style>	
	</head>
	<body ng-app="flapperNews" ng-controller="MainCtrl">
		<div>
				{{test}}
		</div>
		<form ng-submit="addPost()">
			<input type="text" ng-model="title"></input>
			<button type="submit" class="actionButton" ng-click="addPost()">Post</button>
		</form>

		<div ng-repeat="post in posts | orderBy: '-upvotes'">
			{{post.title | uppercase}} - upvotes: {{post.upvotes}}
		</div>		
	</body>
</html>